# 19기 KNN 정규세션 과제

## KNN 구현해보기
### 1. Preprocssing / EDA
지금까지 배운 내용을 토대로 해당 데이터에 대해 자유롭게 전처리와 EDA를 진행해주세요.
### 2. KNN 구현 & 파라미터 튜닝
수업 내용 및 실습 자료를 참고하여 KNN을 구현하고 파라미터 튜닝을 하며 결과를 비교해주세요.
### 3. Evaluation
결과에 대한 평가를 진행하고, 나름의 해석을 달아주세요.

**데이터:** [blackfriday | Kaggle](https://www.kaggle.com/llopesolivei/blackfriday)

---

## 0. 데이터 불러오기

In [1]:
import pandas as pd
df = pd.read_csv("blackfriday.csv", index_col = 0)
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1001088,P00046042,F,0-17,10,A,3,0,5,17.0,NaN,2010
1,1004493,P00347742,F,0-17,10,A,1,0,7,NaN,NaN,4483
2,1005302,P00048942,F,0-17,10,A,1,0,1,4.0,NaN,7696
3,1001348,P00145242,F,0-17,10,A,3,0,2,4.0,NaN,16429
4,1001348,P00106742,F,0-17,10,A,3,0,3,5.0,NaN,5780

## 1. Preprocssing / EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 4997
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     4998 non-null   int64
 1   Product_ID                  4998 non-null   object
 2   Gender                      4998 non-null   object
 3   Age                         4998 non-null   object
 4   Occupation                  4998 non-null   int64
 5   City_Category               4998 non-null   object
 6   Stay_In_Current_City_Years  4998 non-null   object
 7   Marital_Status              4998 non-null   int64
 8   Product_Category_1          4998 non-null   int64
 9   Product_Category_2          3465 non-null   float64
 10  Product_Category_3          1544 non-null   float64
 11  Purchase                    4998 non-null   int64
dtypes: float64(2), int64(5), object(5)
memory usage: 507.6+ KB

In [4]:
df.isna().sum()    # 결측치 확인

User_ID                          0
Product_ID                       0
Gender                           0
Age                              0
Occupation                       0
City_Category                    0
Stay_In_Current_City_Years       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2            1533
Product_Category_3            3454
Purchase                         0
dtype: int64

In [8]:
df['Product_Category_2'].value_counts()

8.0     588
14.0    496
2.0     448
16.0    392
15.0    345
5.0     258
4.0     246
6.0     148
17.0    132
11.0    110
13.0    102
9.0      65
12.0     40
3.0      35
10.0     30
18.0     23
7.0       7
Name: Product_Category_2, dtype: int64

In [9]:
df['Product_Category_3'].value_counts()

16.0    318
15.0    260
14.0    162
17.0    146
5.0     140
8.0     116
9.0     105
12.0     96
13.0     50
18.0     44
6.0      44
10.0     23
11.0     22
4.0      17
3.0       1
Name: Product_Category_3, dtype: int64

In [11]:
df['Product_Category_2'].fillna(8.0, inplace=True)
df['Product_Category_3'].fillna(16.0, inplace=True)

df.isna().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [12]:
for

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,4.998000e+03,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000
mean,1.003015e+06,8.036815,0.421369,5.320128,9.229692,15.001200,9234.655462
std,1.709910e+03,6.442697,0.493828,3.912281,4.325840,2.689077,4999.225081
min,1.000003e+06,0.000000,0.000000,1.000000,2.000000,3.000000,13.000000
25%,1.001560e+06,2.000000,0.000000,1.000000,8.000000,16.000000,5497.750000
50%,1.003040e+06,7.000000,0.000000,5.000000,8.000000,16.000000,8049.000000
75%,1.004417e+06,14.000000,1.000000,8.000000,14.000000,16.000000,12039.000000
max,1.006037e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23913.000000

In [39]:
X = df.drop(columns = ['User_ID', 'Product_ID', 'Purchase'])
y = df['Purchase']

In [21]:
X['Age'].unique()

array(['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+'],
      dtype=object)

In [23]:
X['Stay_In_Current_City_Years'].unique()

array(['3', '1', '2', '4+', '0'], dtype=object)

In [25]:
X['City_Category'].unique()

array(['A', 'B', 'C'], dtype=object)

In [40]:
X = X.astype(str)
X = pd.get_dummies(X, columns = ['Age', 'Stay_In_Current_City_Years', 'City_Category'])
X

,Gender,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Age_0-17,Age_18-25,Age_26-35,Age_36-45,...,Age_51-55,Age_55+,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,City_Category_A,City_Category_B,City_Category_C
0,F,10,0,5,17.0,16.0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,F,10,0,7,8.0,16.0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,F,10,0,1,4.0,16.0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,F,10,0,2,4.0,16.0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,F,10,0,3,5.0,16.0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,M,7,1,1,16.0,16.0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
4994,M,1,1,8,8.0,16.0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
4995,M,13,1,1,6.0,14.0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4996,M,0,1,12,8.0,16.0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
4997,M,6,1,5,14.0,16.0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,1

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2023)

In [35]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_s = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)
X_test_s = pd.DataFrame(scaler.transform(X_test), columns = X_test.columns)

X_train_s.head()

ValueError: could not convert string to float: 'F'

## KNN 구현 & 파라미터 튜닝

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()

In [ ]:
params_1 = [
    "n_neighbors": [i for i in range(1,20,2)],
    "p": [1,2],
    "weights": ["uniform"]
]

In [ ]:
grid_cv = GridSearchCV(knn, param_grid = params_1, cv = 3)

In [ ]:
grid_cv.fit(train_data, train_target)

In [ ]:
grid_cv.best_params_

In [ ]:
knn_1 = KNeighborsClassifier(n_neighbors = 7, p = 1, weights = 'uniform')
knn_1.fit(train_data, train_target)

In [ ]:
#예측 진행
test_pred = knn_1.predict(test_data)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

print("test_data accuracy : ", accuracy_score(test_target, test_pred))
print("* confusion matrix *")

cm = confusion_matrix(test_target, test_pred)
cm_ = pd.DataFrame(cm).rename(index={0:'target(0)', 1:'target(1)', 2:'target(2)'}, columns={0:'pred(0)', 1:'pred(1)', 2:'pred(2)'})
print(cm_)

## Evaluation